@model IEnumerable<SiteWebMultiSport.Models.Adherant>

    <h1>Gestion des Adhérents</h1>

    <a asp-controller="Admin" asp-action="Create" class="btn btn-primary">Créer un nouvel adhérent</a>

    <button onclick="window.history.back();" class="btn btn-secondary">Retour</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Date de Naissance</th>
                <th scope="col">Admin</th>
                <th scope="col">Encadrant</th>
                <th scope="col">Abonné</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var adherant in Model)
        {
            <tr>
                <td>@adherant.Id</td>
                <td>@adherant.Name</td>
                <td>@adherant.Email</td>
                <td>@adherant.Phone</td>
                <td>@adherant.DateNaissance</td>
                <td><input type="checkbox" class="form-check-input" id="isChecked" name="isChecked" @(@adherant.IsAdmin ? "checked" : "") disabled /></td>
                <td><input type="checkbox" class="form-check-input" id="isChecked" name="isChecked" @(@adherant.IsEncadrant ? "checked" : "") disabled /></td>
                <td><input type="checkbox" class="form-check-input" id="isChecked" name="isChecked" @(@adherant.IsSubscribed ? "checked" : "") disabled /></td>
                <td>
                    <a class="btn btn-warning" asp-controller="Admin" asp-action="Edit" asp-route-id="@adherant.Id">Modifier</a>
                    <a class="btn btn-danger" asp-controller="Admin" asp-action="Delete" asp-route-id="@adherant.Id">Supprimer</a>
                </td>
            </tr>
        }
        </tbody>
    </table>



