@model List<SiteWebMultiSport.Models.Adherant>

@{
    ViewData["Title"] = "Inscription réussie";
}

<h2>Inscription réussie</h2>
<p>Merci pour votre inscription !</p>

<h3>Liste des adhérents</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Date de Naissance</th>
            <th>Email</th>
            <th>Téléphone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var adherant in Model)
        {
            <tr>
                <td>@adherant.Id</td>
                <td>@adherant.Name</td>
                <td>@adherant.DateNaissance</td>
                <td>@adherant.Email</td>
                <td>@adherant.Phone</td>
            </tr>
        }
    </tbody>
</table>
