@model IEnumerable<dynamic>

    <h2>Gérer les Sections</h2>

    <a asp-action="Create" class="btn btn-primary">Créer une nouvelle Section</a>
    <button onclick="window.history.back();" class="btn btn-secondary">Retour</button>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Discipline</th>
                <th>Encadrant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sections in Model)
        {
            <tr>
                <td>@sections.Nom</td>
                <td>@sections.Discipline</td>
                <td>@sections.Encadrant</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@sections.Id" class="btn btn-sm btn-warning">Modifier</a>
                    <form asp-action="Delete" asp-route-id="@sections.Id" method="post" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette section ?');">
                        <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                    </form>
                    <a asp-controller="Section" asp-action="Creneaux" asp-route-id="@sections.Id">Voir les créneaux</a>

                </td>
            </tr>
        }

        </tbody>
    </table>

